  #title {
    height: 13em;
    width: 42em;
    overflow: hidden;
    margin-left: 16em;
  }
  
  body{
	  background: lightblue;
	  font-family: 'Lato', sans-serif;
    overflow: scroll;
  }
  #innerbox {
	  padding: 2em 2em 2em 2em;
	  background: #FAFAFA;
	  width: 30em;
    margin-left: 20.5em;
    text-align: left;s
  }
  #storybox {
    background: #F2F5A9;
    text-align: center;
    width: 100%;
    margin-top: 1em;
    padding: 0.5em 0.5em 0.5em 0.5em;
    font-family: 'Lato', sans-serif;
    display: inline-block;
    font-size: 13px;
    border: grey;
  }
  #logout {
  	background: #336699;
  	border: #336699;
  	padding: 0.5em 0.5em 2em 0.5em;
  	color: white;
  	width: 8em;
  	height: 2em;
    float: left;
  	font-size: 0.9em;
  	margin-left: 10em;
  	margin-top: 0.3em;
  }
  #logout:hover{
    background: #203282;
  }
  #login {
  	margin-top: 0.5em;
  	display: block;
  	margin-left: 10.5em;
  }
  #header {
    overflow: hidden;
  }
  #footer {
  	color: gray;
  	font-style:italic;
  	font-family: 'Lato', sans-serif;
  	font-size: 1em;
  	display: block;
  	padding-top: 3em;
    overflow: hidden;
    margin-left: 12em;
  }
  #Generate {
  	float: left;
  	background: #FF8000;
  	border: none;
  	font-size: 1.3em;
  	padding: 1.3em 0.7em 1.3em 0.7em;
  	font-family: 'Lato', sans-serif;
    behavior: url(/css/border-radius.htc);
    border-radius: 1em;
    margin-top: 2em;
    margin-left: 1em;
  }
  #Generate:hover{
    border:6px solid #DF7401;
    background:#FF8000;
  }
  #Post:hover{
  	border:6px solid #D7DF01;
  	background:#FFFF00;
  }
 #Post {
   float: right;
   background: #FFFF00;
   border: none;
   font-size: 1.3em;
   padding: 1.3em 0.7em 1.3em 0.7em;
   font-family: 'Lato', sans-serif;
   behavior: url(/css/border-radius.htc);
   border-radius: 1em;
   margin-top: 2em;
   margin-right: 1em;
  }
  #Jackie, #Rachel {
  text-decoration: none;
  color: #336699;
  }
  .fb-like {
    overflow: hidden;
    position: absolute;
  }
